.favBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favBtn:hover {
  transform: translateY(-2px);
}

.yellowStar {
  color: #ffee00;
  font-size: 2rem;
}

.grayStar {
  color: #9f9f9f;
  font-size: 2rem;
}
