.pageTitle {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 45px;
  font-weight: 400;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  background-color: #6f0223;
  color: white;
  box-shadow: 0 4px 6px -1px rgba(51, 3, 14, 0.3);
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.pageTitle:hover {
  color: white;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navLinks a:hover {
  color: #ffd0d0;
}

.navLinks a[aria-current="page"],
.activeLink {
  color: #ffd0d0;
  font-weight: 500;
}

.favoritesLink {
  display: flex;
  justify-content: center;
  gap: 3px;
}
