.card {
  background-color: #fce5e5;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 500px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 40px;
  padding: 8px;
}

.imageContainer {
  position: relative;
  height: min-content;
  margin: 0 auto;
  display: inline-block;
}

.imageContainer img {
  min-height: 400px;
  width: auto;
  object-fit: contain;
  background: #fff;
  border-radius: 2px;
  display: block;
}

.details {
  display: flex;
  gap: 40px;
  padding: 1rem;
  font-size: large;
}

.leftPanel,
.rightPanel {
  text-align: left;
  width: 300px;
  padding: 20px;
}

.singleContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.subheader {
  font-weight: 600;
}

.ingredientList {
  list-style-type: "╴";
}

.ingredientList li,
.instructionList li {
  margin-bottom: 10px;
}
